@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Quicksand&display=swap");

$font: "Open Sans", sans-serif;
$size: 16px;
$black: #000000;
$white: #ffffff;
$grey: #373737;

@mixin flex {
  display: flex;
  align-items: center;
}

.title {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $white;
}
.menu {
  @include flex();
  justify-content: space-between;
  padding: 20px $size;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.logo {
  @include flex();
}
h1 {
  font-family: $font;
  font-weight: bold;
  font-size: $size;
  line-height: 22px;
  margin-left: 24px;
  color: $black;
}

.dropdown {
  position: relative;
  width: 166px;
  height: 32px;
  background: $white;
  border: none;
  outline: none;
  @include flex();
}
option,
select {
  color: $grey;
  border: none;
  font-family: $font;
  font-size: 14px;
  line-height: 19px;
  color: $grey;
  position: relative;
}
.dropdown:focus,
.dropdown:hover {
  color: $grey;
}
.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 126px;
  height: 32px;
  background: none;
}
