$font: "Open Sans", sans-serif;
$color: #e5e5e5;
$primaryClr: #550dc9;

.wrp {
  display: flex;
  align-items: flex-start;
  max-width: 1900px;
  width: 100%;
}
.menu-wrp {
  width: 52px;
  height: 32px;
  background-color: #440ba0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.form-container {
  display: flex;
  margin-top: 24px;
  width: 100%;
  input {
    outline: none;
    border: 1px solid $color;
    background-color: transparent;
    font-family: $font;
    font-size: 14px;
    padding: 5px 12px;
    max-width: 1170px;
    width: 100%;
    color: #cacaca;
    margin-right: 15px;
    margin-left: 24px;
  }
  button {
    border: 1px solid $primaryClr;
    width: 50px;
    height: 29px;
    font-family: $font;
    font-size: 14px;
    margin-right: 19px;
    cursor: pointer;
    color: #fff;
    background-color: $primaryClr;
    border-radius: 4px;
    &:hover {
      background-color: rgb(165, 142, 202);
    }
  }
}
